<?xml version="1.0" encoding="UTF-8"?>
<applications>
<application>
<name>ping auf start0</name>
<start>cmd</start>
<stop>ping stopp0.de -4</stop>
</application>
<application>
<name>ping auf start1.de</name>
<start>ping start1.de -4</start>
<stop>ping stopp1.de -4</stop>
</application>
<application>
<name>ping auf googleDNS</name>
<start>ping 8.8.8.8 -4 -n 6</start>
<stop>ping stopDNS.de</stop>
</application>
</applications>
