<?xml version="1.0" encoding="UTF-8"?>
<!-- Beim Exit-Befehl bitte keinen abschließenden Zeilenumbruch angeben, dieser wird automatisch ausgeführt! -->
<applications>
<application>
<name>Paint</name>
<start>C:\Windows\System32\mspaint.exe</start>
<stop>ping stopp0.de -4</stop>
<restart>false</restart>
<exit>quit</exit>
</application>
<application>
<name>Command Prompt</name>
<start>cmd.exe</start>
<stop>ping stopp1.de -4</stop>
<restart>false</restart>
<exit>exit</exit>
</application>
<application>
<name>PING auf GoogleDNS</name>
<start>ping 8.8.8.8 -4</start>
<stop>ping stopDNS.de</stop>
<restart>false</restart>
<exit>quit</exit>
</application>
<application>
<name>Rechner</name>
<start>calc.exe</start>
<stop>ping stopp2 -4</stop>
<restart>false</restart>
<exit>exit</exit>
</application>
<application>
<name>Dauerping auf localhost</name>
<start>ping google.de -t</start>
<stop>ping localhost -4 -t</stop>
<restart>false</restart>
<exit>terminate</exit>
</application>
</applications>
